header h1,
#section-accueil h1,
#section-accueil p,
#section-accueil .ctn-btn,
#section-accueil .ctn-others{
    -webkit-animation: left-view 1s linear;
    animation: left-view 1s linear;
}
#section-accueil h1
{
    animation-duration: 1.5s;
}
#section-accueil p{
    animation-duration: 1.8s;
}
#section-accueil .ctn-btn,
#section-accueil .ctn-others{
    animation-duration: 2.2s;
}
#section-accueil .content-create .banniers,
#section-accueil .content-create::before{
    -webkit-animation: scale-view 2.2s linear;
    animation: scale-view 2.2s linear;
}

#section-two img{
    -webkit-animation: img-view 1.5s linear;
    animation: img-view 1.5s linear;
    animation-timeline: view();
    /* animation-range: entry-crossing; */
    animation-range: entry;

}
#section-two section{
    -webkit-animation: section-view 1.5s linear;
    animation: section-view 1.5s linear;
    animation-timeline: view();
    /* animation-range: entry-crossing; */
    animation-range: entry;
}
#section-three img{
    -webkit-animation: scale-view 1.5s linear;
    animation: scale-view 2s linear;
    animation-timeline: view();
    /* animation-range: entry-crossing; */
    animation-range: entry;
}
#section-three section,
#section-six,
#section-three .position-absolute{
    -webkit-animation: section-scale 1.5s linear;
    animation: section-scale 1.5s linear;
    animation-timeline: view();
    /* animation-range: entry-crossing; */
    animation-range: entry;
}
#section-for{
    -webkit-animation: section-rotate  1.5s linear;
    animation: section-rotate 300ms linear;
    animation-timeline: view();
    /* animation-range: entry-crossing; */
    animation-range: entry;
}
#section-five{
    -webkit-animation: scale-view 2s linear;
    animation: scale-view 1.5s linear;
    animation-timeline: view();
    /* animation-range: normal 20%; */
    animation-range: entry;
}
@-webkit-keyframes left-view{
    0%{
        opacity: 0;
        transform: translateX(-120px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes left-view{
    0%{
        opacity: 0;
        transform: translateX(-120px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@-webkit-keyframes scale-view{
    0%{
        opacity: 0;
        transform: scale(0) skewY(50deg);
    }
    100%{
        opacity: 1;
        transform: scale(1) skewY(0);
    }
}
@keyframes scale-view{
    0%{
        opacity: 0;
        transform: scale(0) skewY(50deg);
    }
    100%{
        opacity: 1;
        transform: scale(1) skewY(0);
    }
}

@-webkit-keyframes img-view{
    0%{
        opacity: 0;
        transform: translateX(-200px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes img-view{
    0%{
        opacity: 0;
        transform: translateX(-200px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@-webkit-keyframes section-view{
    0%{
        opacity: 0;
        transform: translateX(200px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes section-view{
    0%{
        opacity: 0;
        transform: translateX(200px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@-webkit-keyframes section-scale{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes section-scale{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
@-webkit-keyframes section-rotate{
    0%{
        opacity: 0;
        transform: scale(0) rotate(-360deg);
    }
    100%{
        opacity: 1;
        transform: scale(1) rotate(0deg);
    }
}
@keyframes section-rotate{
    0%{
        opacity: 0;
        transform: scale(0) rotate(-360deg);
    }
    100%{
        opacity: 1;
        transform: scale(1) rotate(0);
    }
}